{
  "printWidth": 120,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.ts", "*.json"],
      "options": {
        "printWidth": 120,
        "arrowParens": "avoid",
        "semi": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "tabWidth": 2,
        "useTabs": false,
        "embeddedLanguageFormatting": "off",
        "endOfLine": "lf"
      }
    }
  ]
}
